/* CSS designed for drawing */

body {
  font: bold 12px/15px Menlo, consolas, monospace;
  letter-spacing: 2px;
  box-sizing: border-box;
  color: rgba(0,0,0,.5);
}

*, *:before, *:after {
  user-select: none;
  box-sizing: inherit;
}

body { position: fixed; width: 100%; height: 100%;}

.cf { display:block; }
.cf:after {
  content:'';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
  }


i {
  display: block;
  position: absolute;
  /* fix because firefox tries to transition on animation properties */
  transition: box-shadow .2s,
              border-radius .2s,
              height .2s,
              width .2s,
              background-color .2s,
              margin .2s;
}

.animate-all,
.animate-all:before,
.animate-all:after {
  transition:all .2s;
}

.relative { position: relative;}
.inline { display: inline-block;}
.fl { float: left;}

button {
  font: bold 12px/15px Menlo, consolas, monospace;
  text-transform: uppercase;
  color: rgba(0,0,0,.5);
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
}

button:focus {
  box-shadow: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Positioning
-------------------------------------------------*/

.center-y { top: 50%; transform: translateY(-50%); }
.center-x { text-align: center; left: 0; right: 0; margin-left: auto; margin-right: auto;}
.center-x2 { margin-left: 50%; transform: translateX(-50%); }

.offset-top { top: 100%; }
.offset-bottom { bottom: 100%; }

[class*='f-']  { position: fixed; }
.f-r  { top:    0; right:  0; bottom: 0;            }
.f-t  { top:    0; right:  0;            left:   0; }
.f-tl { top:    0;                       left:   0; }
.f-tr { top:    0; right:  0;                       }
.f-b  {            right:  0; bottom: 0; left:   0; }
.f-bl {                       bottom: 0; left:   0; }
.f-br {            right:  0; bottom: 0;            }

[class*='a-']  { position: absolute; }
.a-r  { top:    0; right:  0; bottom: 0;            }
.a-tr { top:    0; right:  0;                       }
.a-t  { top:    0; right:  0;            left:   0; }
.a-tl { top:    0;                       left:   0; }
.a-l  { top:    0;            bottom: 0; left:   0; }
.a-b  {            right:  0; bottom: 0; left:   0; }
.a-br {            right:  0; bottom: 0;            }
.a-bl {                       bottom: 0; left:   0; }

/* Rotation
-------------------------------------------------*/

.rotate1  { transform: rotate(12deg);}
.rotate2  { transform: rotate(24deg);}
.rotate3  { transform: rotate(36deg);}
.rotate4  { transform: rotate(48deg);}
.rotate5  { transform: rotate(60deg);}
.rotate6  { transform: rotate(72deg);}
.rotate7  { transform: rotate(84deg);}
.rotate8  { transform: rotate(96deg);}
.rotate9  { transform: rotate(108deg);}
.rotate10 { transform: rotate(120deg);}
.rotate11 { transform: rotate(132deg);}
.rotate12 { transform: rotate(144deg);}
.rotate13 { transform: rotate(156deg);}
.rotate14 { transform: rotate(168deg);}
.rotate15 { transform: rotate(180deg);}
.rotate16 { transform: rotate(192deg);}
.rotate17 { transform: rotate(204deg);}
.rotate18 { transform: rotate(216deg);}
.rotate19 { transform: rotate(228deg);}
.rotate20 { transform: rotate(240deg);}
.rotate21 { transform: rotate(252deg);}
.rotate22 { transform: rotate(264deg);}
.rotate23 { transform: rotate(276deg);}
.rotate24 { transform: rotate(288deg);}
.rotate25 { transform: rotate(300deg);}
.rotate26 { transform: rotate(312deg);}
.rotate27 { transform: rotate(324deg);}
.rotate28 { transform: rotate(336deg);}
.rotate29 { transform: rotate(348deg);}
.rotate30 { transform: rotate(360deg);}

.rotate-1  { transform: rotate(-12deg);}
.rotate-2  { transform: rotate(-24deg);}
.rotate-3  { transform: rotate(-36deg);}
.rotate-4  { transform: rotate(-48deg);}
.rotate-5  { transform: rotate(-60deg);}
.rotate-6  { transform: rotate(-72deg);}
.rotate-7  { transform: rotate(-84deg);}
.rotate-8  { transform: rotate(-96deg);}
.rotate-9  { transform: rotate(-108deg);}
.rotate-10 { transform: rotate(-120deg);}
.rotate-11 { transform: rotate(-132deg);}
.rotate-12 { transform: rotate(-144deg);}
.rotate-13 { transform: rotate(-156deg);}
.rotate-14 { transform: rotate(-168deg);}
.rotate-15 { transform: rotate(-180deg);}
.rotate-16 { transform: rotate(-192deg);}
.rotate-17 { transform: rotate(-204deg);}
.rotate-18 { transform: rotate(-216deg);}
.rotate-19 { transform: rotate(-228deg);}
.rotate-20 { transform: rotate(-240deg);}
.rotate-21 { transform: rotate(-252deg);}
.rotate-22 { transform: rotate(-264deg);}
.rotate-23 { transform: rotate(-276deg);}
.rotate-24 { transform: rotate(-288deg);}
.rotate-25 { transform: rotate(-300deg);}
.rotate-26 { transform: rotate(-312deg);}
.rotate-27 { transform: rotate(-324deg);}
.rotate-28 { transform: rotate(-336deg);}
.rotate-29 { transform: rotate(-348deg);}
.rotate-30 { transform: rotate(-360deg);}

/* Sizing
-------------------------------------------------*/

.height1  { height: 1vmin;}
.height3  { height: 3vmin;}
.height4  { height: 4vmin;}
.height5  { height: 5vmin;}
.height6  { height: 6vmin;}
.height7  { height: 7vmin;}
.height8  { height: 8vmin;}
.height9  { height: 9vmin;}
.height10 { height: 10vmin;}
.height11 { height: 11vmin;}
.height12 { height: 12vmin;}
.height13 { height: 13vmin;}
.height14 { height: 14vmin;}
.height15 { height: 15vmin;}
.height18 { height: 18vmin;}
.height19 { height: 19vmin;}
.height20 { height: 20vmin;}
.height25 { height: 25vmin;}
.height30 { height: 30vmin;}
.height35 { height: 35vmin;}

.width1  { width: 1vmin;}
.width3  { width: 3vmin;}
.width4  { width: 4vmin;}
.width5  { width: 5vmin;}
.width6  { width: 6vmin;}
.width7  { width: 7vmin;}
.width8  { width: 8vmin;}
.width9  { width: 9vmin;}
.width10 { width: 10vmin;}
.width11 { width: 11vmin;}
.width12 { width: 12vmin;}
.width13 { width: 13vmin;}
.width14 { width: 14vmin;}
.width15 { width: 15vmin;}
.width20 { width: 20vmin;}
.width25 { width: 25vmin;}
.width30 { width: 30vmin;}
.width35 { width: 35vmin;}

/* Margins
-------------------------------------------------*/

[id*='-left'] .marginx-1 { margin-left: -1vmin;}
[id*='-left'] .marginx-2 { margin-left: -2vmin;}
[id*='-left'] .marginx-3 { margin-left: -3vmin;}
[id*='-left'] .marginx-4 { margin-left: -4vmin;}
[id*='-left'] .marginx1  { margin-left: 1vmin;}
[id*='-left'] .marginx2  { margin-left: 2vmin;}
[id*='-left'] .marginx3  { margin-left: 3vmin;}
[id*='-left'] .marginx4  { margin-left: 4vmin;}

[id*='-right'] .marginx-1 { margin-right: -1vmin;}
[id*='-right'] .marginx-2 { margin-right: -2vmin;}
[id*='-right'] .marginx-3 { margin-right: -3vmin;}
[id*='-right'] .marginx-4 { margin-right: -4vmin;}
[id*='-right'] .marginx1 { margin-right: 1vmin;}
[id*='-right'] .marginx2 { margin-right: 2vmin;}
[id*='-right'] .marginx3 { margin-right: 3vmin;}
[id*='-right'] .marginx4 { margin-right: 4vmin;}

.marginl1 { margin-left: 1vmin;}
.marginl2 { margin-left: 2vmin;}
.marginl3 { margin-left: 3vmin;}
.marginl4 { margin-left: 4vmin;}

.marginl-1 { margin-left: -1vmin;}
.marginl-2 { margin-left: -2vmin;}
.marginl-3 { margin-left: -3vmin;}
.marginl-4 { margin-left: -4vmin;}

.marginr1 { margin-right: 1vmin;}
.marginr2 { margin-right: 2vmin;}
.marginr3 { margin-right: 3vmin;}
.marginr4 { margin-right: 4vmin;}

.marginr-1 { margin-right: -1vmin;}
.marginr-2 { margin-right: -2vmin;}
.marginr-3 { margin-right: -3vmin;}
.marginr-4 { margin-right: -4vmin;}

.margint1 { margin-top: 1vmin;}
.margint2 { margin-top: 2vmin;}
.margint3 { margin-top: 3vmin;}
.margint4 { margin-top: 4vmin;}

.margint-1 { margin-top: -1vmin;}
.margint-2 { margin-top: -2vmin;}
.margint-3 { margin-top: -3vmin;}
.margint-4 { margin-top: -4vmin;}

.marginb1 { margin-bottom: 1vmin;}
.marginb2 { margin-bottom: 2vmin;}
.marginb3 { margin-bottom: 3vmin;}
.marginb4 { margin-bottom: 4vmin;}

.marginb-1 { margin-bottom: -1vmin;}
.marginb-2 { margin-bottom: -2vmin;}
.marginb-3 { margin-bottom: -3vmin;}
.marginb-4 { margin-bottom: -4vmin;}

/* Border radius
-------------------------------------------------*/

.radius1 { border-radius: 0vmin;}
.radius2 { border-radius: 2vmin;}
.radius3 { border-radius: 4vmin;}
.radius4 { border-radius: 100%;}

.radiust1 { border-top-left-radius: 1vmin; border-top-right-radius: 1vmin; }
.radiust2 { border-top-left-radius: 2vmin; border-top-right-radius: 2vmin; }
.radiust3 { border-top-left-radius: 3vmin; border-top-right-radius: 3vmin; }
.radiust4 { border-top-left-radius: 4vmin; border-top-right-radius: 4vmin; }

.radiusb1 { border-bottom-left-radius: 1vmin; border-bottom-right-radius: 1vmin; }
.radiusb2 { border-bottom-left-radius: 2vmin; border-bottom-right-radius: 2vmin; }
.radiusb3 { border-bottom-left-radius: 3vmin; border-bottom-right-radius: 3vmin; }
.radiusb4 { border-bottom-left-radius: 4vmin; border-bottom-right-radius: 4vmin; }

/* Colors
-------------------------------------------------*/
.attr-background0, .background0   { background-color: #DFAC81; color: #DFAC81; }
.attr-background1, .background1   { background-color: #0D3864; color: #0D3864;  }
.attr-background2, .background2   { background-color: #0074D9; color: #0074D9;  }
.attr-background3, .background3   { background-color: #7FDBFF; color: #7FDBFF;  }
.attr-background4, .background4   { background-color: #39CCCC; color: #39CCCC;  }
.attr-background5, .background5   { background-color: #3D9970; color: #3D9970;  }
.attr-background6, .background6   { background-color: #2ECC40; color: #2ECC40;  }
.attr-background7, .background7   { background-color: #33EA51; color: #33EA51;  }
.attr-background8, .background8   { background-color: #FFDC00; color: #FFDC00;  }
.attr-background9, .background9   { background-color: #FF851B; color: #FF851B;  }
.attr-background10, .background10 { background-color: #FF4136; color: #FF4136; }
.attr-background11, .background11 { background-color: #F012BE; color: #F012BE; }
.attr-background12, .background12 { background-color: #B10DC9; color: #B10DC9; }
.attr-background13, .background13 { background-color: #85144B; color: #85144B; }
.attr-background14, .background14 { background-color: #111; color: #111; }
.attr-background15, .background15 { background-color: #aaa; color: #aaa; }
.attr-background16, .background16 { background-color: #ddd; color: #ddd; }
.attr-background17, .background17 { background-color: transparent; color: transparent; }
