
/* Interaction
-------------------------------------------------*/

.configurable:hover {
  cursor: pointer;
}

.configurable.active {
  box-shadow: 0 0 0 5px white, 0 0 0 10px rgba(0,0,0,.2);
  z-index: 100;
  cursor: pointer;
}

.configurable.active:hover {
  box-shadow: 0 0 0 5px white, 0 0 0 10px rgba(0,0,0,.5);
}

.no-hover {
  pointer-events: none;
}

/* Form
-------------------------------------------------*/

.form {
  width: 180px;
  min-height: 220px;
  position: fixed;
  overflow: scroll;
  border-radius: 3px;
  right: 20px;
}

.form .fields {
  opacity: 0;
}
.form .fields.in {
  opacity: 1;
}

.caps { text-transform: uppercase;}

.field:not(:first-of-type) { margin-top: 10px;}
.label {
  margin-bottom: 2px;
}

.button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 5px 5px 5px 0;
}

.button-increment {
  background: rgba(0,0,0,.2);
}

.button-list:hover {
  box-shadow: inset 0 0 0 3px rgba(0,0,0,.2), inset 0 0 0 5px white;
}

.button-list.active {
  box-shadow: inset 0 0 0 3px rgba(0,0,0,.5), inset 0 0 0 5px white;
}

.button-increment:hover {
  background: rgba(0,0,0,.3);
}

.button-increment.active {
  background: rgba(0,0,0,.5);
}

/* Constants
-------------------------------------------------*/
#eye { background-color: white;}
#body-container { min-width: 10vmin; }

/* Tranforms
-------------------------------------------------*/

[id^='leg-lower-'],
[id^='leg-upper-'],
[id^='arm-lower-'],
[id^='arm-upper-'] {
  transform-origin: top center;
}

/* Animation
-------------------------------------------------*/
#chest {
  -webkit-animation: ease-in-out breathe-grow 1.5s .25s infinite alternate backwards;
}

#head {
  -webkit-animation: ease-in-out breathe-head 1.5s .0s infinite alternate backwards;
}

[id^='arm-container-'] {
  -webkit-animation: ease-in-out breathe 1.5s .5s infinite alternate backwards;
}

#arm-lower-left {
  -webkit-animation: ease-in-out arm-wiggle-left 1.5s 0s infinite alternate backwards;
}

#arm-lower-right {
  -webkit-animation: ease-in-out arm-wiggle-right 1.5s 0s infinite alternate backwards;
}

#eye {
  -webkit-animation: ease-in-out blink 2s 2s infinite alternate forwards;
}

@-webkit-keyframes breathe {
  0%   { transform: translateY(-.5vmin); }
  100% { transform: translateY(-0vmin); }
}

/* this is ugly, translate is so stupid */
@-webkit-keyframes breathe-head {
  0%   { transform: translateY(-.5vmin) translateX(-50%); }
  100% { transform: translateY(-0vmin) translateX(-50%); }
}

@-webkit-keyframes breathe-grow {
  0%   { transform: translateY(-.5vmin) scale(1.025); }
  100% { transform: translateY(-0vmin) scale(1); }
}

@-webkit-keyframes arm-wiggle-left {
  0%   { transform: rotate(-12deg); }
  100% { transform: rotate(-16deg); }
}

@-webkit-keyframes arm-wiggle-right {
  0%   { transform: rotate(12deg); }
  100% { transform: rotate(16deg); }
}

@-webkit-keyframes blink {
  0%   { height: 0; }
  10%  { height: 3vmin; }
  100% { height: 3vmin; }
}
