
/* Dirty
-------------------------------------------------*/
#body-container {
  min-width: 10vmin;
}

/* Interaction
-------------------------------------------------*/

.configurable.hover {
  box-shadow: 0 0 0 5px white, 0 0 0 20px rgba(0,0,0,.2);
  z-index: 100;
  cursor: pointer;
}
.configurable.active {
  box-shadow: 0 0 0 5px white, 0 0 0 10px rgba(0,0,0,.2);
  z-index: 100;
  cursor: pointer;
}

.configurable.hover.active {
  box-shadow: 0 0 0 5px white, 0 0 0 10px rgba(0,0,0,.5);
}

.no-hover {
  pointer-events: none;
}

.form {
  border-radius: 3px 0 0 3px;
  width: 200px;
  padding: 20px;
  position: fixed; right: 0;
}

.caps { text-transform: uppercase;}

.field:not(:first-child) { margin-top: 10px;}

.label { vertical-align: top;}

.button {
  vertical-align: top;
  background-color: blue;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.button.up {
  background-color: #888;
}

.button.up:hover {
  background-color: #aaa;
}

.button.down {
  background-color: #888;
}

.button.down:hover {
  background-color: #aaa;
}

/* Tranforms
-------------------------------------------------*/

[id^='lower-leg-'],
[id^='upper-leg-'],
[id^='lower-arm-'],
[id^='upper-arm-'] {
  transform-origin: top center;
}

/* Animation
-------------------------------------------------*/
#chest {
  -webkit-animation: ease-in-out breathe-grow 1.5s .25s infinite alternate backwards;
}

#head {
  -webkit-animation: ease-in-out breathe-head 1.5s .0s infinite alternate backwards;
}

[id^='arm-container-'] {
  -webkit-animation: ease-in-out breathe 1.5s .5s infinite alternate backwards;
}

#lower-arm-left {
  -webkit-animation: ease-in-out arm-wiggle-left 1.5s 0s infinite alternate backwards;
}

#lower-arm-right {
  -webkit-animation: ease-in-out arm-wiggle-right 1.5s 0s infinite alternate backwards;
}

#eye {
  -webkit-animation: ease-in-out blink 2s 2s infinite alternate forwards;
}

@-webkit-keyframes breathe {
  0%   { transform: translateY(-.5vmin); }
  100% { transform: translateY(-0vmin); }
}

/* this is ugly, translate is so stupid */
@-webkit-keyframes breathe-head {
  0%   { transform: translateY(-.5vmin) translateX(-50%); }
  100% { transform: translateY(-0vmin) translateX(-50%); }
}

@-webkit-keyframes breathe-grow {
  0%   { transform: translateY(-.5vmin) scale(1.025); }
  100% { transform: translateY(-0vmin) scale(1); }
}

@-webkit-keyframes arm-wiggle-left {
  0%   { transform: rotate(-12deg); }
  100% { transform: rotate(-16deg); }
}

@-webkit-keyframes arm-wiggle-right {
  0%   { transform: rotate(12deg); }
  100% { transform: rotate(16deg); }
}

@-webkit-keyframes blink {
  0%   { height: 0; }
  10%  { height: 3vmin; }
  100% { height: 3vmin; }
}
