/* lots of weird interaction possibilities, especially with
some class toggling in javascript */
.bg-green {
transition:background-color .25s;
}
.hover-fill:hover .bg-green,
.hover-fill.bg-green:hover {
  background-color: #0074D9;
}

i.body-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
}

.chest {
  -webkit-animation: ease-in-out breathe-grow 1.5s .25s infinite alternate backwards;
}

.head {
  top: -11vmin;
  -webkit-animation: ease-in-out breathe 1.5s .0s infinite alternate backwards;
}

.arm-container {
  -webkit-animation: ease-in-out breathe 1.5s .5s infinite alternate backwards;
}

.upper-arm {
  transform-origin: top center;
  top: 1vmin;
}

.upper-arm.left {
  left: -4vmin;
  transform: rotate(25deg);
}

.upper-arm.right {
  right: -4vmin;
  transform: rotate(-25deg);
}

.lower-arm {
  transform-origin: top center;
}

.lower-arm.left {
  bottom: -9vmin;
  transform: rotate(-10deg);
}

.lower-arm.right {
  bottom: -9vmin;
  transform: rotate(10deg);
}

.hand {
  bottom: -5vmin;
}

.pelvis {
  bottom: 2vmin;
}

.leg-container {
  bottom: 2vmin;
}

.upper-leg {
  transform-origin: top center;
  bottom: -9vmin;
}

.upper-leg.left {
  left: -2vmin;
  transform: rotate(10deg);
}

.upper-leg.right {
  right: -2vmin;
  transform: rotate(-10deg);
}

.lower-leg {
  bottom: -13vmin;
}

.lower-leg.left {
  left: .5vmin;
  transform: rotate(-10deg);
}

.lower-leg.right {
  right: .5vmin;
  transform: rotate(10deg);
}

.foot {
  bottom: -1vmin;
}

.foot.right {
  left: 0;
}

.foot.left {
  right: 0;
}

@-webkit-keyframes breathe {
  0%   { transform: translateY(-.5vmin); }
  100% { transform: translateY(-0vmin); }
}

@-webkit-keyframes breathe-grow {
  0%   { transform: translateY(-.5vmin) scale(1.025); }
  100% { transform: translateY(-0vmin) scale(1); }
}
